body {
    font-family: 'Port Lligat Sans', sans-serif;
    overflow-y: scroll;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #ddd;
    color: #444;
    font-size: 18px;
}

h3 {
    margin-top: 40px;
    margin-left: 30px;
    margin-bottom: -0.8em;
}

.total {
    min-height: 100vh;
}
.para {
  padding-bottom: 1.2em;
}

.content {
    max-width: 600px;
    padding-left: 1em;
    padding-right: 1em;
}

.header {
    font-family: 'Potta One', cursive;
    text-align: center;
    font-weight: bold;
    font-size: 2.5em;
    margin-bottom: 0px;
    margin-top: 0.5em;
}
.header a {
    text-decoration: none;
    color: #444;
}
.subheader {
    text-align: center;
    font-size: 1.26em;
    margin-top: -4px;
}
.header-hr {
    border-top: 1px solid #263248;
}

.centeralign {
    text-align: center;
}

.footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.center {
    justify-content: center;
}

.entry {
    background-color: #ffffff99;
    padding: 12px 24px;
    margin-bottom: 24px;
    border-radius: 0.3em;
}

.hindi {
    font-size: 1.2em;
    font-weight: bold;
}

.english {
    margin-top: -0.7em;
}

.details {
    font-size: 0.8em;
    display: flex;
    justify-content: space-between;
    margin-top: -1.6em;
}

.song {
    width: 45%;
}
.film {
    width: 45%;
}
.link {
    width: 10%;
}

.chapter-header {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  width: 100%;
  background-color: #44444444;
  margin-bottom: 1em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  border-radius: 0.2em;
}
